body {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    
}

.form__controls {
    padding: 16px;
    text-align: left;
    display: flex;
    justify-content: center;
}
.form__button {
    padding: 8px 16px;
    background-color: rgb(66, 155, 238);
    border-radius: 5px;
    color: white;
    outline: 0;
    border: 0;
    cursor: pointer;
}