.form {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.iFrame {
    margin: 0 auto;
    width: 70%;
}

.form__controls {
    padding: 16px;
}
.form__button {
    padding: 8px 16px;
    background-color: rgb(66, 155, 238);
    border-radius: 5px;
    color: white;
    outline: 0;
    border: 0;
    cursor: pointer;
}